<section class="container">
    <h1 class="title1">Latest Positions Submitted</h1>
    <table>
        <tbody> 
            <tr>
                <td class="company"><a routerLink="/details-position" ><img class="img-block" src="../../../../../assets/img/cocacola.png"></a></td>
                <td>Operator</td>
                <td>Aveiro</td>
                <td>Full-Time</td>
                <td>2 Days Posted</td>
            </tr>
            <tr>
                <td class="company"><img class="img-block" src="../../../../../assets/img/sabway.png"></td>
                <td>Counterperson</td>
                <td>Lisboa</td>
                <td>Part Time</td>
                <td>5 Days Posted</td>
            </tr>
            <tr>
                <td class="company"><img class="img-block" src="../../../../../assets/img/sansung.png"></td>
                <td>Developer</td>
                <td>Porto</td>
                <td>Temporary</td>
                <td>10 Days Posted</td>
            </tr>
            <tr>
                <td class="company"><img class="img-block" src="../../../../../assets/img/ikea.png"></td>
                <td>Secretary</td>
                <td>Ilha da Madeira</td>
                <td>Full Time</td>
                <td>15 Days Posted</td>
            </tr>
        </tbody>
    </table>
</section>