 <!----------SEARCH-POSITION-------->
<app-search-position></app-search-position>

 <!----------ADVERTISING------------>
 <main class="container">
    <div class="advertising">
        <h1 class="title1">Career Opportunities</h1>
        <div class="img">
            <div>
                <img class="img-cover"src="../../../../assets/img/oratoria.png" alt="advertising speaker course">
            </div>
            <div>
                <img class="img-cover"src="../../../../assets/img/espanhol.jpg" alt="advertising spain course">
            </div>
            <div>
                <img class="img-cover"src="../../../../assets/img/ingles.jpg" alt="advertising english course">
            </div>
        </div>
    </div>

 <!----------LAST-POSITIONS------------>
<app-last-positions></app-last-positions>

 <!----------SEND POSITION------------->
<section class="send container">
    <div>
        <h1>Submit a job that will be viewed by <br> thousands of applicants</h1>
    </div>
    <div>
        <a class="sign" routerLink="/contact">SEND A POSITION</a>
    </div>
</section>

<!--------STATISTIC------------>
<section class="container">
    <h2 class="title1">New Job Statistics</h2>
    <div class="status-box">
        <div>
            <div class="status-qtd">1200</div>
            <div class="status-text">Open Positions</div>
        </div>
        <div>
            <div class="status-qtd">2000</div>
            <div class="status-text">Applicants Hired</div>
        </div>
        <div>
            <div class="status-qtd">120</div>
            <div class="status-text">Companies</div>
        </div>
        <div>
            <div class="status-qtd">5000</div>
            <div class="status-text">Applicants</div>
        </div>
    </div>
</section>

<!--------ADVANTAGES----------->
<section class="container advantages">
    <h2 class="title2">Advantages of Using New Job</h2>
    <div class="advantages-box">
        <div class="grup">
            <img class="img-block" src="../../../../assets/img/the best.png" alt="The best vacancies">
            <h3 class="status-text">The Best Positions</h3>
            <p>The best companies to work for are here.</p>
        </div>
        <div class="grup">
            <img class="img-block" src="../../../../assets/img/exclusive.png" alt="The best vacancies">
            <h3 class="status-text">Exclusive Positions</h3>
            <p>Many companies only advertise on New Job</p>
        </div>
        <div class="grup">
            <img class="img-block" src="../../../../assets/img/Largest.png" alt="The best vacancies">
            <h3 class="status-text">The Largest Website</h3>
            <p>We are the website with the most job openings</p>
        </div>
        </div>
    </section>

<!--------CLIENTS----------->
<section class="container clients">
    <h1 class="title1">The Best Companies are Here!</h1>
    <div class="info-clients">
        <div class="info-clients-item">
            <img class="img-cover" src="../../../../assets/img/client_1.png" alt="client">
        </div>
        <div class="info-clients-item">
            <img class="img-cover" src="../../../../assets/img/client_2.png" alt="client">
         </div>
        <div class="info-clients-item">
            <img class="img-cover" src="../../../../assets/img/client_3.png" alt="client">
        </div>
        <div class="info-clients-item">
            <img class="img-cover" src="../../../../assets/img/client_4.png" alt="client">
        </div>
        <div class="info-clients-item">
            <img class="img-cover" src="../../../../assets/img/client_5.png" alt="client">
        </div>
            <div class="info-clients-item">
            <img class="img-cover" src="../../../../assets/img/client_6.png" alt="client">
        </div>
        </div>
    </section>
</main>

<!--------FOOTER----------->
<app-footer></app-footer>

    
